<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% block css %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

    </head>
    <body>
        {% include 'navbar.html.twig' %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>

{% block script %}{% endblock %}

