{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            {% for categorie in categories %}
                <div class="col-12 col-sm-6 col-md-4">
                    <a href="/plats/{{ categorie.id }}">
                        <h3>{{ categorie.libelle }}</h3>
                        <img src="{{categorie.image}}" class="img-fluid" alt="">
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
