{% extends 'base.html.twig' %}


{% block body %}
<h1>details</h1>

     <div>
        {{ disc.title }}
     </div>
    
     <div>
        {{ disc.year }}
     </div>
    
     <div>
        {{ disc.artist.name }}
     </div>
    


{% endblock %}
