{% extends 'base.html.twig' %}


{% block body %}
<h1>test</h1>

     {% dump(discs) %}

    {% for disc in discs %}

        <div>
            {{ disc.title }}
            {{ disc.artist.name }}
            <a href="/details/{{ disc.id }}">Details</a>
            <hr>
        </div>

    {% endfor %}


{% endblock %}
