{% extends 'base.html.twig' %}


{% block central %}
<h1>test</h1>

     {% dump(discs) %}

    {% for disc in discs %}

        <div>
            {{ disc.title }}
            {{ disc.artist.name }}
            <hr>
        </div>

    {% endfor %}


{% endblock %}
